.bg-wrapperTop {
  transition: $global-transition;
  background:  
    linear-gradient(
      to bottom,
      $color-medium-green 6px,
      $color-white 0,
      $color-white 50px,
      transparent 0
      
    ),
    url(../../img/svg/bg-menu.svg) center 35px / cover no-repeat;    
    width: 100%;  
    z-index: 100;
    height: 120px;

  @media only screen and (max-width: 850px){
    background: 
      linear-gradient(
      to bottom,
      $color-medium-green 108px,
      $color-white 0,
      transparent 10px
    ),
    url(../../img/svg/bg-menu.svg) center 70px / cover no-repeat;;
    height: 220px;
  }

  @include for-tablet-portrait-down {
    height: 105px;
  }

  &.-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
  }
}