.wrapper-navigation {

  > .input {
    @include hidden-visually;
  }

  > .label {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 20px;
    right: 27.5px;
    cursor: pointer;
    z-index: 20;

    @include for-tablet-portrait-up {
      @include hidden-visually
    }
  }

  .span {
    width: 40px;
    height: 3px;
    display: inline-block;
    position: absolute;
    background-color: $color-white;
    top: 20px;
    right: 2.5px;
    border-radius: $global-radius;
    transition: $global-transition;
    box-shadow: 0 0 4px rgba($color-green, 0.9);

    @include for-tablet-portrait-up {
      @include hidden-visually
      
    }

    &::before,
    &::after {
      content: "";
      width: 40px;
      height: 3px;
      display: block;
      position: absolute;
      z-index: 10;
      background-color: $color-white;
      border-radius: $global-radius;
      transition: $global-transition;
      box-shadow: 0 0 4px rgba($color-green, 0.9);
    }

    &::before {
      top: 10px;
    }

    &::after {
      bottom: 10px;
    }
  }

  > .input {
    &:checked ~ .label .span {
      background-color: transparent;
    }

    &:checked ~ .label .span:before {
      transform: rotate(-135deg);
      background-color: $color-white;
      box-shadow: 0 0 4px rgba($color-green, 0.9);
      top: 0;
    }

    &:checked ~ .label .span:after {
      transform: rotate(135deg);
      background-color: $color-white;
      box-shadow: 0 0 4px rgba($color-green, 0.9);
      bottom: 0;
    }

    &:checked ~ .box {
      transform: translateY(0);
    }
  }

  .box {
    @media only screen and (max-width: 600px) {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgba($color-medium-green, 0.9);
      top: 0;
      left: 0;
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(-100%);
      transition: $global-transition;
    

    > .social-links {
      order: 99;
      font-size: 14px;
      margin-bottom: 0;

    > .tab{
        display: none;
      }

      .link {
        margin-right: 5px;
      }

      .link.facebook {
        display: none;
      }
    }

    > .nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .link {
        margin-right: 0;
        font-size: 20px;
        margin: 10px 0;
        color: $color-white;
      }
    }
  }
  }
}