.section-contact {
  padding: 50px 10px;
  margin-top: -35px;
  background: url('../../img/svg/bg-section-white.svg') center top / cover no-repeat;

  > .subtitle {
    max-width: 420px;
    text-align: center;
    font-size: 13px;
    @include  push--auto;
    margin-bottom: 40px;
  }
}

