.wrapper-aboutUs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 900px;
  @include push--auto;

  @media only screen and ( max-width: 800px ) {
    flex-wrap: wrap;    
  }


  > .slides-aboutUs {
    position: relative;
    width: 565px;
    height: 505px;
    top: 0;
    left: 0;
    margin-right: 24px;
    // overflow: hidden;
    border-radius: $global-radius;

    @media only screen and ( max-width: 800px ) {
      margin-right: 0;
      margin-bottom: 50px;
    }

    @media only screen and ( max-width: 460px ) {
     height: 400px;
    }

    @media only screen and ( max-width: 420px ) {
      margin-bottom: 50px;
      height: 350px;
    }
  }

  > .content-right {
    max-width: 317px;

    @media only screen and ( max-width: 800px ) {
      max-width: 90%;
      
    }

    .btn {
      max-width: 350px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.slide:nth-child(1){ animation-delay: 5s }
.slide:nth-child(2){ animation-delay: 10s }
.slide:nth-child(3){ animation-delay: 15s }

.slide {
  position: absolute;
  animation: slider 15s infinite;
  opacity: 0;

  > .img {
    border-radius: 10px;
  }

  > .caption{
    display: block;
    position: absolute;
    @include push--auto;
    width: 352px;
    height: 154px;
    border-radius: $global-radius;
    
    background: url('../../img/svg/leaf.svg') no-repeat;
    background-size: contain;
    
    bottom: -77px;
    left: 50%;
    transform: translateX(-50%);
   
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    line-height: 1;
    
    color: $color-lighter-green;

    z-index: 10;

    @media only screen and (max-width: 600px) {
      width: 300px;
      height: 130px;
      font-size: 25px;
    }
  }
}

.caption {
  > .-white {
    font-weight: 900;
    color: $color-white;
    display: block;
    margin-top: 30px;   
  }
}



