.wrapper-contact {
  display: flex;
  max-width: 900px;
  @include push--auto;
  justify-content: space-around;

  @media only screen and (max-width: 900px) {
    flex-wrap: wrap;
  }
 

  > .form-contact {
    max-width: 440px;
    margin: 0 5px;

    @media only screen and (max-width: 900px) {
      margin-bottom: 40px;
    }
  }

  > .wrapper-phoneAndAddress {
    max-width: 440px;
    margin: 0 5px;

    @media only screen and (max-width: 900px) {
      
    }
  }
} 

 .form-contact{
  .input,
  .textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 13px;

    border: none;
    border-radius: $global-radius;
    background-color: $color-input;
    
    text-transform: uppercase;
    font-family: $font-sans-serif;
    letter-spacing: 1px;
  }  

  .input[type='number'] {
    width: 15%;
    margin-right: 1%;
  }

  .input[type='tel'] {
    width: 30%;
    margin-right: 2%;

    @media only screen and (max-width: 500px) {
      margin-right: 1%;
    }
  }

  .input[name='business'] {
    width: 50%;
    
  }

  .btn.-green {
    margin-left: auto;
    padding: .5em 2em;
  }
}

.wrapper-phoneAndAddress{
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 500px) {
    display: block;
    @include push--auto;
    text-align: center;
  }

  > .phones {
    @media only screen and (max-width: 500px) {
      margin-bottom: 40px;
    }

    a {
      display: block;
      color: $color-green;
      font-weight: 700;
      margin-bottom: 7px;
      transition: $global-transition;
      padding: 2px 0;
      border: 1.5px solid $color-green;
      border-radius: 100px;
      padding: 5px 15px;
      max-width: 220px;
      @include push--auto;

      &:hover {
        color: $color-medium-green;
      }
    }
    .icon {
      width: 20px;
      margin-right: 5px;
    }
  }

  > .address {
    max-width: 300px;
    line-height: 1.2;
    font-size: 13px;
    margin-bottom: 15px;
    margin-left: 10px;

    @media only screen and (max-width: 500px) {    
      margin-bottom: 40px;
      margin-left: auto;
      margin-right: auto;
    }

    > .heading-3{
      display: block;
    }
    
    a {
      @include underline-links;
      text-transform: lowercase !important;
    }
  }
}

.map {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
