.wrapper-top {
  max-width: rem(900);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include push--auto;
  transition: $global-transition;

  @media only screen and (max-width: 850px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include for-tablet-portrait-down {
    background-color: $color-medium-green;
  }
  
  > .logotipo {
    margin: 25px 0 10px;
    margin-left: 10px;
    width: 290px;

    @include for-tablet-portrait-down {
      width: 200px;
      margin-right: auto;
    }

    img {
      width: 100%;
    }
  }
 
  &.-fixed{
    position: fixed;
    z-index: 100;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
   
    @include for-tablet-portrait-down {
      background-color: $color-medium-green;
    }
  }
}

.wrapper-navigation {
  text-align: right;
  background: url('../../img/svg/bg-top.svg')55px 5px / 440px no-repeat;
  padding-right: 10px;
  
  .social-links {
    margin-bottom: 40px;
    padding-top: 10px;
    color: $color-white;

    .link {
      color: $color-white;
    }

    .icon {
      width: 20px;
      margin-right: 5px;
    }

    .icon:last-child{
      width: 23px;
    }

    > *:not(:last-child){
      margin-right: 25px;
    }
    
    > *:not(:first-child){
      margin-left: 25px;
    }

    > .tab {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.nav-menu {  
  text-align: center;

  span{
    margin-left: 0;
    margin-right: 0;
  }

  > .link {
    text-transform: uppercase;    
    font-size: rem(13);
    font-weight: 700;
    letter-spacing: .5px;

    @include for-tablet-portrait-up {
      @include underline-links;
    }
  }

  > .link:not(:last-child) {
    margin-right: rem(30);
  }
}