.wrapper-services {
  // position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  background: url("../../img/svg/bg-section-gray.svg") center 620px / cover
      no-repeat,
    linear-gradient(to right, $color-light-green 45%, $color-medium-green 0%);

  padding-bottom: 50px;
  margin-bottom: -1px;

  @include for-tablet-landscape-down {
    flex-direction: column;
  }

  > .navigation-services {
    padding: 50px 0 50px 10px;
    background-color: $color-light-green;

    @include for-tablet-landscape-down {
      padding: 0;
      margin-bottom: 0;
    }
  }

  .wrapper-content {
    padding: 50px 0 50px 30px;
    background-color: $color-medium-green;
    // position: relative;

    @include for-tablet-landscape-down {
      padding: 50px 10px;
    }
    @include for-tablet-portrait-down {
      padding: 30px 10px;
    }
  }
}

.navigation-services {
  background-color: $color-light-green;
  // position: relative;

  .list {
    width: 280px;

    @include for-tablet-landscape-down {
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      width: 100%;
      margin-bottom: 0;
    }

    @include for-tablet-portrait-down {
      align-content: flex-end;
    }
  }

  .item {
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 20px;
    margin: 0;
    position: relative;

    &:not(:last-child) {
      border-bottom: 2px solid #83b576;

      @include for-tablet-landscape-down {
        border-bottom: none;
      }
    }

    @include for-tablet-landscape-down {
      flex-direction: column;
      height: 150px;
      padding-left: 0;
      padding: 10px;
      padding-bottom: 15px;
      width: 100px;
      text-align: center;
    }

    @include for-tablet-portrait-down {
      max-width: 100px;
      height: 50px;
      padding: 5px;
    }

    img {
      margin: 0 10px;
      width: 70px;

      @include for-tablet-landscape-down {
        width: 50px;
        height: 50px;
        padding-bottom: 10px;
      }

      @include for-tablet-portrait-down {
        margin: 0 0;
      }
    }

    &.-active {
      background-color: #83b576;

      &::after {
        @include pseudo;
        width: 20px;
        height: 20px;
        background-color: #83b576;
        transform: rotate(45deg);
        right: -7px;

        @include for-tablet-landscape-down {
          bottom: -15px;
          left: 50%;
          transform: rotate(45deg) translateX(-50%);
        }
      }
    }
  }

  .link {
    font-size: 23px;
    color: $color-white;
    line-height: 1;
    width: 150px;

    @include for-tablet-landscape-down {
      font-size: 16px;
      width: 100%;
    }

    @include for-tablet-portrait-down {
      text-indent: -10000px;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.wrapper-content {
  .content-services {
    max-width: 550px;
    height: 418px;
    position: relative;

    @include for-tablet-landscape-down {
      margin-left: auto;
      margin-right: auto;

      overflow: auto;

      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: rgba($color-white, 0.1);
      }

      &::-webkit-scrollbar {
        width: 12px;
        background-color: rgba($color-white, 0.1);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        height: 50px;
        border-radius: 10px;
        background-color: rgba($color-dark-green, 0.4);
      }
    }
  }

  .btn.-white {
    margin-top: 50px;
    margin-right: 20px;

    @include for-tablet-landscape-down {
      margin-left: 10%;
    }

    @include for-tablet-portrait-down {
      display: block;
      width: 220px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 20px;
      margin-top: 5px;
      font-size: 14px;
    }
  }

  span {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    color: $color-white;

    @include for-tablet-portrait-down {
      display: block;
      max-width: 300px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      font-size: 14px;
    }

    a {
      color: $color-white;
      font-weight: 700;
    }
  }
}

.content-services {
  color: $color-white;

  > * {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 400ms ease-in-out;

    @include for-tablet-landscape-down {
      margin-right: 10px;
      padding: 0;
    }
  }

  .visible {
    opacity: 1;
    visibility: visible;
  }

  .title {
    font-size: 30px;

    @include for-tablet-portrait-down {
      font-size: 24px;
    }
  }

  img {
    border-radius: $global-radius;
  }

  .caption {
    margin-bottom: 10px;
  }

  figcaption {
    @include for-tablet-portrait-down {
      font-size: 14px;
    }
  }
}
