.wrapper-weCallYou { 
  display: flex;
  max-width: 900px;
  @include push--auto;
  align-items: center;
  

  @media only screen and (max-width: 900px){
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
  }

  > .figure {
    transform: translateY(23px);

    @media only screen and (max-width: 900px){
     transform: translate(-15px, 23px);
    }
  }

  > .wrapper-form {
    width: 260px;

    @media only screen and (max-width: 520px){
      order: -1;
    }
  }

  > .iframe-facebook {
    width: 310px;
    height: 240px;

    iframe {
      margin-left: auto;
      margin-right: auto;
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.wrapper-form {
  color: $color-white;
  line-height: 1.2;
  margin: 0 10px;

  > .title {
    margin-bottom: 5px;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;

    & .-light {
      font-weight: 300;
    }
  }

  > .subtitle {
    font-size: 13px;
    max-width: 230px;
    font-weight: 300;

    & .-bold {
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  .input {
    width: 100%;
    padding: .8em;
    margin-bottom: 10px;

    border: none;
    border-radius: $global-radius;
    background-color: $color-white;    
  }

  .input[type='number']{
    width: 30%;
    margin-right: 8px;
  } 

  .input[type='tel']{
    width: 65%;
  } 

  .btn {
    margin-left: auto;
  }  
}
