/* ==========================================================================
*   #BODY
   ========================================================================== */
body {
  background: $color-bg;
  
  color: $color-text;
  font-size: rem(15);
  font-family: $font-sans-serif;
  line-height: $line-height;

  // position: relative;

}
